<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>TinyApp</title> -->
  <% include ./partials/_header %>
</head>
<body>
  <ul>
    <% for (key of Object.keys(urlDb)) { %>
        <li>
          http://localhost:8080/<%= key %> (<%= urlDb[key] %>)
          <form method="POST" action="/urls/<%= key %>/edit">
            <button type="submit" value="<%= key %>" name="edit" id="edit">EDIT</button>
          </form>
          <form method="POST" action="/urls/<%= key %>/delete">
            <button type="submit" value="<%= key %>" name="delete" id="delete">DELETE</button>
          </form>
        </li>

    <% }; %>
  </ul>
</body>
</html>